name: Build & Deploy to Numida Docker Hub

on:
  pull_request:
    branches:
      - 'numida'
  push:
    tags:
      - '*'
      - '!*-alpha*'
      - '!*-beta*'

    branches:
      - 'numida'

  workflow_dispatch:


jobs:
  docker-deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@v1.0.3
        with:
          key: ${{ secrets.KEY }}
          host: ${{ secrets.LIGHTDASH_HOST }}
          username: ${{ secrets.USERNAME }}
          # Ensure the script exists on the lightdash host
          script: ./bin/deploy_docker_numida