name: Build & Deploy to Numida Docker Hub

on:
  pull_request:
    branches:
      - 'numida'
  push:
    tags:
      - '*'
      - '!*-alpha*'
      - '!*-beta*'

    branches:
      - 'numida'

  workflow_dispatch:


jobs:
  docker-deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Connect to Tailscale
        uses: tailscale/github-action@v3
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_CLIENT_SECRET }}
          hostname: lightdash-${{ github.run_id }}
          version: 1.78.1
          tags: tag:dataplex
      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
          chmod 400 ~/.ssh/id_ed25519
          echo "$SSH_PUBLIC_KEY" > ~/.ssh/id_ed25519-cert.pub
          chmod 644 ~/.ssh/id_ed25519-cert.pub
          cat >>~/.ssh/config <<END
          Host lightdash_ssh
            HostName lightdash.prod.numidatech.com
            User ubuntu
            IdentityFile ~/.ssh/id_ed25519
            StrictHostKeyChecking no
          END
        env:
          SSH_PRIVATE_KEY: ${{ secrets.LIGHTDASH_SSH_PRIVATE_KEY }}
          SSH_PUBLIC_KEY: ${{ secrets.LIGHTDASH_SSH_PUBLIC_KEY }}

      - name: Deploy Lightdash
        run: |
          ssh lightdash_ssh "
            ./bin/deploy_docker_numida
          "